@model IEnumerable<HealthcareApp.BLL.DTOs.PatientDto>

<h2 class="text-primary">Patients</h2>

<p>
    <a asp-action="Create" class="btn btn-success"> Add Patient</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Age</td>
                <td>@item.Gender</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PatientId" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.PatientId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.PatientId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>